<style>
    div.padding {
        padding-left: 50px;
        padding-right: 25px;
    }
    td.sidebar {
        width: 30%;
    }
    div.top {
        position:absolute;
        left:0; right:0;
        height: 92px;
    }
    div.left {
        position:absolute;
        left:0; top:40px; bottom: 0;
        width: 500px;
    }
    div.main {
        position: absolute;
        left:500px; top:40px; right:0; bottom:0;
    }
    h2.title {
        padding-left: 75px;
    }
</style>

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ruhlman Revelations{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Perception and Reality Between Departments at Wellesley College </a>
        </div>    
    </nav>
{% endblock %}
{% block content %}
<table>

    <!--
     <table>
     <tr style="width:100%">
      <td style="width:30%"> -->
          <div class = "left ">
          <div class = "padding">
          <h2 style = "text-align: center;">What do Wellesley College Students Do?</h2>
          Although Wellesley College prepares students for interdisciplanary careers, misunderstandings and barriers exist between majors and departments.
          To the right, you can observe disparities between the perception of majors and their actual interests.
          <br><br>
          This tool compares text from the abstracts of all Ruhlman
          presentations up until 2016, sectioned by the  department of the advisor and student major,
          to the text of student responses to the question "What do you think x-department
          does?" Sample responses were provided to respondants to encourage consistency.<br><br>
          <form action="/inputText" method="post">
              Please enter a single word, this tool does not analyze phrases: <br>
              <input type="text" name=inputText></input>
              <input type="submit" value="Search"></input>
          </form>
          <br> <br>
          <div style = "text-align: center;">
      <a href="http://cs.wellesley.edu/~namadeo/cs249/final-writeup.html">About This Project</a> |
      <a href="https://docs.google.com/a/wellesley.edu/forms/d/1XolrzMGgr5ZfrkFELBC5y3gle9ETS0-U98BZZ6dGV-c/viewform">Form</a> |
      <a href="http://cs.wellesley.edu/~namadeo/cs249/caveat.html">Caveats</a>
          </div>
          </div>
          </div>
      <!--</td>
      <td style="width:70%"> -->
          
<div class="main">
    <div class="container">
   		 
        <div class="row">
            {% for id in ids %}

                <h2 class = "title">Occurences of "{{inputText}}" per 100 words</h2>
                <div id="{{id}}"></div>
            {% endfor %}
        </div>
    </div>
</div>

   <!-- </td>
    </tr>
  </table> -->
<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

{% endblock %}